.widget {
    background: #51B6B6; 
    margin-bottom: 3.2rem;
}

.widget__message {
    color: #a5afd7;
    margin: 0;
    padding: 3.2em;
    text-align: center;
    border-bottom: 1px solid #585d71;
}

.widget-header {
    background-color: #99D9D9;
    color: #a5afd7;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}
